body
	background: #FFF
	// +css-lock(16, 50, 600, 1000)
	line-height: 1.4
	font-family: $helv
	font-size: 15px
	color: $black
	min-width: 320px
	overflow-y: auto
	+font-smoothing

.mega-text
	font-size: 40px

a 
	text-decoration: none
	color: inherit

button
	font-family: $helv

.logo
	display: block
	height: 24px
	width: 68px
	&_big
		height: 30px
		width: 90px
		display: inline-block
	svg
		// stroke-dashoffset: 20
		// stroke-width: 1px
		// fill: none

.out
	min-height: 100vh