.out
	position: relative
	overflow: hidden

.container-inner
	position: relative
	margin: 0 auto
	padding: 0 27px
	max-width: 1014px
	+clr
	+sm 
		padding: 0 10px

.container-narrow
	max-width: 654px
	margin: 0 auto
	padding: 0 27px
	+md 
		max-width: 580px
	+sm 
		padding: 0 10px
		max-width: 400px

.tablet-hide
	+md 
		display: none

.mob-hide
	+sm 
		display: none

.mob-block
	display: none
	&.btn,
	&.btn-circle
		display: none
	+sm 
		display: block
		&.btn,
		&.btn-circle
			display: inline-block





