{% import "partials/_mixins.html" as mixins %}
{% import "components/_cards.html" as Card %}
{% import "components/_product.html" as Product %}
{% extends "layouts/_layout.html" %}
{% set chats = [
    {   
        modifier: "user_chat",
        status: 'is-online',
        image: "avatar_1.jpg",
        mainText: "Сергей Власов",
        secondaryText: "Привет Василий! Скейтборд еще продавать не буду",
        time: "только что"
    }, {
        modifier: "user_chat",
        status: 'is-online',
        image: "avatar_2.jpg",
        mainText: "Николай Юдинских",
        secondaryText: "Cпасибо!",
        time: "7 мин назад"
    }, {
        modifier: "user_chat",
        image: "avatar_3.jpg",
        mainText: "Миша Новожилов",
        secondaryText: "Это супер!",
        time: "11:35"
    }, {
        modifier: "user_chat",
        status: 'is-active',
        image: "avatar_4.jpg",
        mainText: "Alena Vladimorovna",
        secondaryText: "Вот нужно подумать! Пока много разных вариантов рассматриваю.",
        time: "вчера"
    }
] %}

{% block content %}
    <div class="mega-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolore animi fuga doloremque rem consectetur atque tenetur facere itaque sapiente.
    </div>
    <div class="modal is-open">
        <div class="modal__container chat">
            <div class="chat__connections">
                <div class="chat__title">
                    <h2>Сообщения</h2>
                    <span class="mob-block">{{mixins.addBtn()}}</span>
                </div>
                <div class="chat__find">
                    {{mixins.inputSearch()}}
                </div>
                {% for chat in chats %}
                    <div class="chat__connection">
                        {{mixins.user(chat)}}
                    </div>
                {% endfor %}
            </div>
            <div class="chat__messages">
                <div class="chat__top">
                    <span class="mob-block chat__prev">
                        {{mixins.prevBtn()}}
                    </span>

                    {{mixins.user({
                        image: "avatar_4.jpg",
                        mainText: "Alena Vladimorovna",
                        secondaryText: "В сети 5 минут назад", 
                        menuBtn: true
                    })}}
                </div>
                <div class="chat__main">
                    <div class="message-to message-to_card">
                        <p>Здравствуйте!</p>
                        <p>Мне интересен этот товар.</p>
                        {{Card.smallCard({
                        image: 'collection-1.jpg',
                        title: "Куртка джинсовая Wrangler", 
                        price: "10 495 ₽",
                        descr: "Куртка выполнена из денима @sdklimov. Подкладка выполнена из искусственного гладкого текстиля. Детали: отложной..."})}}
                    </div>

                    <div class="chat__new-message">
                        {{mixins.addBtn({modifier: "btn-add_dark"})}}
                        <div class="card-outline chat__input-card">
                            <div class="card-outline__header">
                                <p>Здравствуйте!</p>
                                <p>Мне интересен этот товар.</p>
                            </div>
                            <div class="card-outline__body">
                                {{Product.product({
                                    image: 'collection-1.jpg',
                                    title: "Куртка джинсовая Wrangler", 
                                    price: "10 495 ₽"
                                })}}
                            </div>
                        </div>
                        {{mixins.upBtn()}}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}