{% import "components/_cards.html" as Cards %}
{% extends "layouts/_layout.html" %}

{% set imageCards = [
    {
        image: 'image-card_1.jpg', 
        type: 'Коллекция',
        title: 'Кросовки <br> с улиц Лондана', 
        avatar: 'avatar_1.png', 
        name: 'Punkrock_pixxie'
    }, 
    {
        image: 'image-card_2.jpg', 
        type: 'Коллекция',
        title: 'Кросовки <br> с улиц Лондана', 
        avatar: 'avatar_1.png', 
        name: 'Punkrock_pixxie'
    },
    {
        image: 'image-card_3.jpg', 
        type: 'Коллекция',
        title: 'Кросовки <br> с улиц Лондана', 
        avatar: 'avatar_1.png', 
        name: 'Punkrock_pixxie'
    }
] %}

{% block content %}
    <!-- MAIN SLIDER -->
    <div class="slider js-slider">
        <div>
            <div class="slider__slide" style="background-image: url(./img/slider_1/slider_1.jpg);">
                <div class="slider__text-first">
                    Откройте для себя
                    <br>
                    мир новых брендов
                    <br>
                    со всего мира.
                </div>
            </div>
        </div>
        <div>
            <div class="slider__slide" style="background-image: url(./img/slider_1/slider_2.jpg);">
                <div class="slider__text-second">
                    <h2>
                        Будьте
                        <br>
                        в курсе
                    </h2>
                    <p>Подписывайтесь
                        <br>
                        только на лучших</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slider__slide" style="background-image: url(./img/slider_1/slider_3.jpg);">
                <div class="slider__text-third">
                    <p>Следите за нами
                        <br>
                        в Instagram</p>
                    <h2>
                        @goflowly
                    </h2>
                </div>
            </div>
        </div>
        <div>
            <div class="slider__slide" style="background-image: url(./img/slider_1/slider_1.jpg);">
                <div class="slider__text-first">
                    Откройте для себя
                    <br>
                    мир новых брендов
                    <br>
                    со всего мира.
                </div>
            </div>
        </div>
        <div>
            <div class="slider__slide" style="background-image: url(./img/slider_1/slider_2.jpg);">
                <div class="slider__text-second">
                    <h2>
                        Будьте
                        <br>
                        в курсе
                    </h2>
                    <p>Подписывайтесь
                        <br>
                        только на лучших</p>
                </div>
            </div>
        </div>
        <div>
            <div class="slider__slide" style="background-image: url(./img/slider_1/slider_3.jpg);">
                <div class="slider__text-third">
                    <p>Следите за нами
                        <br>
                        в Instagram</p>
                    <h2>
                        @goflowly
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-inner">
        <ul class="links links_main">
            <li>
                <a href="#" class="main-link">Моя лента</a>
            </li>
            <li>
                <a href="#" class="main-link is-active">Трендовое</a>
            </li>
            <li>
                <a href="#" class="main-link">Новое</a>
            </li>
            <li>
                <a href="#" class="main-link">Популярное</a>
            </li>
        </ul>
        <!-- CARDS SLIDER (MOBILE ONLY SLIDER) -->
        <div class="cards-slider js-mobile-slider">
            {% for card in imageCards %}
                <div class="card-slide">
                    {{Cards.imageCard(card)}}
                </div>
            {% endfor %}
        </div>
        <div class="cards-bottom">
            {% include "partials/_cards.html" %}
        </div>
    </div>

    <div class="to-top">
        <button class="btn-circle btn-circle_big btn-to-top" type="button">{{ mixins.icon('chevron-up') }}</button>
    </div>
    <div class="cookies">
        <p>
            На этом сайте используются файлы cookie, чтобы вы могли получить лучший опыт на нашем сайте.
        </p>
        <button class="cookies__btn" type="button">Продолжить</button>
        <a href='#' class="cookies__btn cookies__btn_grey" type="button">Подробнее</a>
    </div>
{% endblock %}