{% import "partials/_company.html" as Company %}
{% import "components/_cards.html" as Cards %}

{% set productCards = [
    {
        modifier: 'js-masonry', 
        image: 'card_img_2.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry',
        image: 'card_img_3.jpg', 
        brand: 'Champion',
        product: 'Свитшот Crewneck Sweatshirt', 
        price: '4 857 '
    }, 
    {
        modifier: 'js-masonry',
        image: 'card_img_4.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    { 
        modifier: 'js-masonry',
        image: 'card_img_5.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {   
        modifier: 'js-masonry',
        image: 'card_img_6.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry',
        image: 'card_img_7.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry',
        image: 'card_img_8.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    }
] %}

{% extends "layouts/_layout.html" %}

{% block content %}
    <div class="company-page">
        {{Company.companyTop({activeFirst: true})}}
        <div class="company-page__container container-inner">
            <div class="cards-wrapper">
                <div class="grid">
                    <div class="gutter-sizer"></div>
                    <div class="add-collection js-masonry">
                        <div class="add-collection__bg">
                            {{mixins.addBtn({modifier: 'btn-circle_big btn-add_blue'})}}
                        </div>
                        <div class="add-collection__descr">
                            Добавить товар
                        </div>
                    </div>
                    {% for item in productCards %}
                        {{Cards.productCard(item)}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}