{% import "partials/_company.html" as Company %}
{% import "partials/_mixins.html" as mixins %}
{% import "components/_cards.html" as Cards %}
{% import "components/_collection.html" as Collection %}

{% extends "layouts/_layout.html" %}

{% block content %}
    <div class="company-page">
        {{Company.companyTop({activeSecond: true, followed: true})}}
        <div class="company-page__container container-inner">
            <div class="company-page__row js-collections-masonry">
                <div class="gutter-sizer-wide"></div>
                <div class="grid-sizer"></div>
                <div class="company-page__col js-collections-item">
                    <a href="#" class="add-collection add-collection_full-width">
                        <div class="add-collection__bg">
                            <span class="btn-circle btn-add btn-circle_big btn-add_blue" role="button">
                                {{ mixins.icon('plus') }}
                            </span>
                        </div>
                        <div class="add-collection__descr">
                            Создать коллекцию
                        </div>
                    </a>
                </div>
                <div class="company-page__col js-collections-item">
                    {{Collection.collection({
                                imageMain: "card_img_1.jpg",
                                imagesSecondary: ["card_img_3.jpg", "card_img_5.jpg"], 
                                title: 'Хочу на день рождения'
                                
                    })}}
                </div>
                <div class="company-page__col company-page__col_narrow js-collections-item">
                    {{Cards.imageCard({
                            image: 'image-card_1.jpg', 
                            title: 'Кросовки <br> с улиц Лондана', 
                            titleModifier: "image-card__title_single",
                            withoutAvatars: true
                    })}}
                </div>
                <div class="company-page__col js-collections-item">
                    {{Collection.collection({
                        title: 'На зиму'
                    })}}
                </div>
            </div>
            <div class="company-page__private-collection">
                <div class="company-page__row">
                <h3>Приватные коллекции</h3>
                    <div class="company-page__col">
                        {{Collection.collection({
                        imageMain: "card_img_1.jpg",
                        imagesSecondary: ["card_img_3.jpg",     "card_img_5.jpg"],title: 'Хочу на день рождения',
                        private: true
                })}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}