$helv: 'HelveticaNeue', Arial, Helvetica, sans-serif
$helvCyr: 'HelveticaNeueCyr', Arial, Helvetica, sans-serif

$white: #fff

$black: #333333
$light-grey: #c9c9c9
$grey: #8e8e8e
$extra-light-grey: #e2e2e2

$light-bg: #eeeeee
$blue: #0078ff
$light-blue: #dcf0ff

$red: #ff0028

$radius: 5px
$tr: 0.9s