$helvLatin: 'HelveticaNeue', Arial, Helvetica, sans-serif
$helv: 'HelveticaNeueCyr', Arial, Helvetica, sans-serif
$rouble: 'PTRouble', 'HelveticaNeueCyr', Arial, Helvetica, sans-serif

$white: #fff

$black: #333333
$light-grey: #c9c9c9
$grey: #8e8e8e
$extra-light-grey: #e2e2e2
$mainGrey: #aaaaaa

$light-bg: #eeeeee
$light-bgHovered: #ebebeb
$light-bgClicked: #e0e0e0

$blue: #0078ff
$blueHovered: #006feb
$blueClicked: #005beb
$light-blue: #dcf0ff
$chat-card-bg: #d9e9f4
$light-button-bg: #edf5f9

$red: #ff0028
$green: #00d166

$radius: 5px
$radiusBig: 8px
$radiusModal: 12px
$tr: 0.5s
$shadow: 0 15px 15px rgba(#c1c1c1, 0.5)

$fb: #33589d
$vk: #4f7da6
$twitter: #1da1f2
$pinterest: #cb2027
$messanger:  #0083ff

$paddingDT: 20px
$paddingMOB: 10px
