.collections-page
    &__main
        margin-top: 4px
        margin-bottom: 32px
        display: flex
        align-items: flex-start
        justify-content: space-between
        +sm 
            flex-flow: column
            margin-top: 0
            margin-bottom: 28px
    &__left
        flex-wrap: wrap
        flex: 0 0 500px
        +sm 
            flex-flow: column
            flex: 0 0 auto
    &__authors
        position: relative
        display: flex
        align-items: center
        font-size: 0
        .avatar
            border: 2px solid $white
            &:not(:first-of-type)
                margin-left: -8px
            +sm 
                +circle(30)
        .dropdown
            top: calc(100% + 10px)
            left: -20px
            padding: 20px
        .follow-mark
            margin-left: 6px
    &__names
        margin-left: 6px
        font-weight: 500
        font-size: 15px
        line-height: 1
        +sm 
            font-size: 13px
    &__title
        margin-top: 30px
        width: 100%
        font-size: 40px
        font-weight: 600
        line-height: 1.125
        +sm 
            font-size: 20px
            line-height: 1.25
            margin-top: 16px
    &__button
        font-size: 0
        background: none
        margin-left: 6px
        color: $black
        & > * 
            +icenter
        span 
            font-size: 15px
            font-weight: 500
            margin-right: 4px
            line-height: 1
        .icon
            font-size: 12px
            color: $black
            margin-top: 2px
    &__actions
        font-size: 0
        padding-top: 3px
        +sm 
            padding-top: 12px
        & > *
            margin-left: 8px 
        button:first-child
            margin-left: 0
            
    
