.header
	padding: 30px 0
	&__container
		display: flex
		align-items: center
	&__search
		position: relative
		flex-grow: 1
		margin: 0 26px
	&__user
		margin-left: 10px
		+cover
	&__activities
		position: relative
		font-size: 0
		button:not(:first-child)
			margin-left: 10px

.main-search
	position: relative
	font-size: 0
	&__input
		width: 100%
		font-size: 15px
		font-family: $helv
		color: $black
		display: inline-block
		vertical-align: middle
		font-weight: 500
		background-color: $light-bg
		height: 36px
		border-radius: $radius
		padding-left: 38px
		&::placeholder
			font-family: $helv
			color: $grey
			font-weight: 500
		&:focus
			&::placeholder
				font-size: 0
	&__icon
		position: absolute
		top: 50%
		transform: translateY(-50%)
		left: 12px
		font-size: 0
		background-color: transparent
		color: #b7b7b7
		.icon
			font-size: 16px
			line-height: 1
		