.cards-top
    margin: 0 -15px
    display: flex
    .image-card
        margin: 15px
.cards-bottom
    margin: 0 auto
    // padding-bottom: 1200px
    // .card   
    //     margin: 0 12px 24px

.links
    display: flex
    align-items: center
    margin: 30px auto 40px
    &_main
        justify-content: center
    &_company
        justify-content: flex-start
        margin-left: -18px

.main-link
    font-weight: 700
    color: #aaaaaa
    padding: 9px 20px 9px
    border-radius: 18px
    &.is-active
        background-color: #e5e5e5
        color: $black

.to-top
    position: fixed
    bottom: 20px
    right: 20px

.cookies
    font-size: 13px
    line-height: 1.1
    color: $black
    position: fixed
    left: 20px
    bottom: 20px
    width: 380px
    padding: 20px
    background-color: $white
    border-radius: $radiusBig
    box-shadow: 0 15px 15px rgba(#c1c1c1, 0.5)
    &__btn
        font-size: 13px
        font-weight: 500
        background: none
        line-height: 1.5
        margin-right: 10px
        &_grey
            color: $mainGrey

