.links
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: center
    &_main
        margin: 22px auto
        +sm 
            margin-bottom: 16px
    &_search
        margin: 0 auto 30px
    &_company
        justify-content: flex-start
        margin: 34px auto 41px -20px
        +sm 
            margin: 24px auto 10px
            justify-content: center

.main-link
    display: block
    font-weight: 700
    color: #aaaaaa
    padding: 7px 20px 6px
    border-radius: 18px
    line-height: 1.5
    +sm 
        padding: 7px 20px
    &.is-active
        background-color: #e5e5e5
        color: $black
        &:hover
            background-color: $light-bgHovered
        &:active
            background-color: $light-bgClicked

.company-link
    display: block
    line-height: 1.2
    font-weight: 700
    color: #aaaaaa
    padding: 11px 20px 
    border-radius: 20px
    &.is-active
        background-color: $light-bg
        color: $black
        &:hover
            background-color: $light-bgHovered
        &:active
            background-color: $light-bgClicked

.to-top
    position: fixed
    bottom: 20px
    right: 27px
    +sm 
        display: none

.cookies
    font-size: 13px
    line-height: 1.1
    color: $black
    position: fixed
    left: 27px
    bottom: 20px
    width: 384px
    padding: 20px 20px 14px
    background-color: $white
    border-radius: $radiusBig
    box-shadow: $shadow
    z-index: 2000
    +sm 
        left: 10px
        width: calc(100% - 20px)
    p 
        margin-bottom: 4px
    &__btn
        font-size: 13px
        font-weight: 500
        background: none
        line-height: 1.5
        margin-right: 10px
        &_grey
            color: $mainGrey

.add-cards
    text-align: center
    padding-bottom: 80px
    padding-top: 9px
    &__mark
        display: inline-block
        +circle(15)
        background-color: $blue
        position: relative
        &:after
            content: ''
            position: absolute
            top: -30px
            left: -30px
            right: -30px
            bottom: -30px
        
