.modal
	position: fixed
	z-index: -1
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: 0
	visibility: hidden
	+vertical
	+gpu
	transition: opacity 0.3s, visibility 0.3s, z-index 0.3s
	background-color: rgba($black, .8) 
	&.is-open
		opacity: 1
		visibility: visible
		z-index: 100
	&__container
		position: relative
		padding: 20px
		z-index: 1
		font-size: 14px
		vertical-align: middle
		display: inline-block
		background-color: #fff
		overflow-y: auto
		border-radius: 12px
		&_right
			position: absolute
			top: 0
			bottom: 0
			right: 0
			width: 400px
			max-width: 400px
			height: 100vh
			padding: 20px
			border-radius: 0
		&_w400	
			width: 400px
	&__close
		position: absolute
		top: 28px
		right: 20px
		background-color: transparent
		font-size: 0
		color: $grey
		z-index: 10
		.icon
			font-size: 12px
			fill: $grey
	&__title
		font-size: 20px
		color: $black
		font-weight: 500
		margin-bottom: 32px
	&__search
		margin-bottom: 36px
	&__text
		font-size: 15px
		color: $black
		&_bold
			font-weight: 500
		&_left
			text-align: left
	&__image
		margin-top: 200px
		padding-bottom: 100%
		background-repeat: no-repeat
	&__products
		display: flex
		flex-wrap: wrap
		margin: 0 -8px
		padding-bottom: 100px
		position: relative
		.product
			flex: 0 0 50%
			width: 50%
			padding: 0 8px
			margin-bottom: 16px
			&__check
				right: 18px
	&__buttons-bottom
		position: fixed
		bottom: 0
		right: 0
		width: 400px
		padding-bottom: 20px
		padding-top: 20px
		background-color: $white
		z-index: 10
		// width: 100%

.form-control
	margin-bottom: 14px
	position: relative
	&_checks
		text-align: left

.input
	width: 100%
	padding: 10px 14px 11px 14px
	font-family: $helvCyr
	font-weight: 500
	font-size: 15px
	border: 1px solid $extra-light-grey
	border-radius: $radius
	color: $black
	text-align: left
	&:placeholder
		color: $grey
		font-weight: 500
	&.is-invalid
		border-color: $red
	&_search
		padding-left: 40px

.input-search-icon
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 14px
	font-size: 0
	background-color: transparent
	color: $grey
	.icon
		font-size: 16px
		line-height: 1

textarea 
	resize: vertical

.text-info
	width: 100%
	padding: 10px 20px 11px 14px
	font-family: $helvCyr
	font-weight: 500
	font-size: 15px
	border: 1px solid $extra-light-grey
	border-radius: $radius
	color: $black
	text-align: left
	margin-bottom: 16px

.new-element, 
.check-collection
	background-color: transparent
	font-family: $helvCyr
	margin-left: -9px
	margin-right: -9px
	padding: 9px
	text-align: left
	width: calc(100% + 18px)
	border-radius: $radius
	transition: background-color $tr
	font-size: 0
	&__image
		border-radius: $radius
		display: inline-block
		vertical-align: middle
		position: relative
		width: 55px
		padding-bottom: 55px
		+cover
	&__text
		display: inline-block
		vertical-align: middle
		margin-left: 16px
		font-size: 15px
		font-weight: 500
		color: $black
		transition: color $tr

.new-element
	&:hover
		background-color: $light-bg
	&__plus
		position: absolute
		+vcenter
		color: $white
		.icon
			font-size: 15px 
			

.check-collection
	display: block
	position: relative
	&:hover
		.check-collection__bg
			background-color: $light-bg
	input
		position: absolute
		left: 0
		top: -1px
		opacity: 0
		width: 16px
		height: 16px
		&:checked 
			~ .check-collection__bg
				background-color: $blue
			~ .check-collection__image .check-collection__check
				visibility: visible
				opacity: 1
			~ .check-collection__text
				color: $white
			~ .check-collection__private
				background-color: $white
				color: $blue
	&__check
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		top: 10px
		right: 10px
		height: 35px
		width: 35px
		border-radius: 50%
		background-color: #fff
		font-size: 0
		opacity: 0
		visibility: hidden
		transition: opacity $tr, visibiliti $tr
		.icon
			font-size: 15px 
			color: $blue


	// &__image
	// 	&:before,
	// 	&:after
	// 		position: absolute
	// 		+vcenter
	// 		visibility: hidden
	// 		opacity: 0
	// 		transition: opacity $tr, visibility $tr
	// 	&:after
	// 		content: url('../img/check.svg')
	// 		width: 11px
	// 		height: 7px
	// 	&:before
	// 		content: ''
	// 		width: 30px
	// 		height: 30px
	// 		border-radius: 50%
	// 		background-color: $white
	&__bg
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		z-index: -1
		border-radius: $radius
		transition: background-color $tr
		
	&__private
		position: absolute
		top: 50%
		right: 20px
		transform: translateY(-50%)
		background: $grey
		border-radius: 50%
		height: 20px
		width: 20px
		line-height: 20px
		font-size: 0
		color: $white
		text-align: center
		transition: background-color $tr, color $tr
		.icon
			font-size: 9px
			vertical-align: middle
	&__helper
		font-size: 13px
		color: $grey
		margin-top: 16px
		display: none

.check-collection.is-repeated
	input:checked 
		~ .check-collection__bg
			bottom: 32px
		~ .check-collection__helper
			display: block
		~ .check-collection__private
			top: calc(50% - 17px)