.modal
	position: fixed
	z-index: -1
	top: 0
	left: 0
	right: 0
	bottom: 0
	opacity: 0
	visibility: hidden
	+vertical
	+gpu
	transition: opacity 0.3s, visibility 0.3s, z-index 0.3s
	background-color: rgba($black, .8) 
	&.is-open
		opacity: 1
		visibility: visible
		z-index: 100
	&__container
		position: relative
		padding: 20px
		z-index: 1
		font-size: 15px
		vertical-align: middle
		display: inline-block
		background-color: #fff
		overflow-y: auto
		border-radius: 12px
		&_right
			position: absolute
			top: 0
			bottom: 0
			right: 0
			width: 400px
			max-width: 400px
			height: 100vh
			padding: 20px
			border-radius: 0
			+sm 
				width: 100%
				max-width: inherit

		&_w400	
			width: 400px
			+sm 
				width: 100%
		&_social
			width: 410px
			text-align: center
			padding: 50px 40px
			+sm 
				width: 100%
				padding: 40px 20px
		&_pb-0
			padding-bottom: 0 
		&_chat
			width: 900px
	&__close
		position: absolute
		top: 28px
		right: 20px
		background-color: transparent
		font-size: 0
		color: $grey
		z-index: 10
		.icon
			font-size: 12px
			fill: $grey
	&__title
		font-size: 20px
		color: $black
		font-weight: 500
		margin-bottom: 32px
	&__search
		margin-bottom: 36px
	&__text
		padding: 0 5px
		font-size: 15px
		color: $black
		&_bold
			font-weight: 500
		&_left
			text-align: left
			padding: 0
	&__image
		// position: absolute
		// top: 394px
		// left: 0
		// right: 0
		display: inline-block
		font-size: 0
		vertical-align: middle
		width: 100%
		padding-bottom: 100%
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: contain
		// +md 
		// 	top: 300px
		// +sm 
		// 	top: 100px
	&__products
		display: flex
		flex-wrap: wrap
		margin: 24px -8px 0
		padding-bottom: 100px
		position: relative
		.product
			flex: 0 0 50%
			width: 50%
			padding: 0 8px
			margin-bottom: 16px
			&__check
				right: 18px
	&__buttons
		margin-top: 40px
	&__buttons-bottom
		position: fixed
		bottom: 0
		right: 0
		width: 400px
		padding-bottom: 20px
		padding-top: 20px
		background-color: $white
		z-index: 10
	.card-form
		margin-top: 24px
		
.text-muted
	color: $grey

.card-form
	&__selection
		margin-top: 40px
	.modal__text
		margin-bottom: 24px
		