.company-page
    &__container 
        text-align: center
    &__top
        display: flex
        margin-top: 8px
        +sm 
            flex-flow: column
            margin-top: -4px
    &__logo
        flex: 0 0 120px
        +sm
            flex: 0 0 auto
            display: flex
            align-items: center
            margin-bottom: 15px
        a 
            display: inline-block
            +sm
                width: 70px
        img 
            max-width: 100% 
        .mob-block
            margin-left: 20px
    &__location
        margin-bottom: 20px
        +xs
            font-size: 13px
        .icon
            margin-right: 3px
            font-size: 13px
            +xs
                margin-right: 0
    &__descr
        padding-left: 40px
        text-align: left
        +sm 
            padding-left: 0
    &__title
        font-size: 0
        margin-bottom: 3px
        span:first-child
            display: inline-block
            vertical-align: middle
            font-size: 25px
            font-weight: 700
            +sm 
                font-size: 15px
                margin-top: 10px
    &__cite-link
        display: block
        margin-top: 4px
        margin-bottom: 5px
    &__buttons
        margin-bottom: 26px
        font-size: 0
        .icon-message-mobile
            font-size: 30px
            .st1
                fill: $white
        +xs 
            margin-bottom: 23px
        & > * 
            margin-right: 9px
        .btn_light
            background-color: #e5f1ff
            &:hover 
                background-color: #dceeff
            &:active
                background-color: #d2ebff
    &__row 
        width: 960px
        display: inline-block
        +md 
            width: 630px
        +sm 
            width: 300px

        // display: flex
        // justify-content: center
        // margin: 0 -15px
        // justify-content: flex-start
        // +md
        //     padding-left: 43px
        // +sm 
        //     flex-flow: column
        //     align-items: center
        //     padding-left: 0
    &__col
        width: 300px
        margin-bottom: 40px
        // height: 300px
        &_narrow
            +r(900)
                width: 266px
        +xs
            margin-bottom: 26px
        // .card,
        // .collection,
        // .add-collection
        //     margin-bottom: 40px 
        //     +xs
        //         margin-bottom: 26px
    &__private-collection
        margin-bottom: 100px
        margin-top: 33px
        h3
            margin-bottom: 34px
            text-align: left
            font-size: 20px
            font-weight: 700
            line-height: 1.25
            // +md 
            //     padding-left: 43px
            +sm 
                text-align: center

.gutter-sizer-wide
    width: 30px
.grid-sizer
    width: 300px

.add-collection
    display: block
    width: 222px
    text-align: left
    margin-bottom: 26px
    +sm 
        margin-bottom: 20px
    +xs
        width: 145px
    &_full-width
        width: 300px
        margin-bottom: 0
        +sm 
            margin-bottom: 0
        +xs 
            width: 300px
        // +sm 
        //     margin-bottom: 0
        // +xs 
        //     margin-bottom: 0
    &__bg
        height: 200px
        width: 100%
        background-color: $light-bg
        position: relative
        border-radius: $radiusBig
        margin-bottom: 8px
        +xs
            height: 145px
            .add-collection_full-width &
                height: 200px
    .btn-add
        +vcenter
    &__descr
        font-size: 13px
        line-height: 1
        color: $grey
        font-weight: 500
        margin-bottom: 2px
        .add-collection_full-width &
            font-size: 15px

.follow-mark
    display: inline-block
    vertical-align: middle
    font-size: 0
    +circle(16)
    margin-left: 10px
    background-color: $blue
    color: $white
    position: relative
    &_small
        height: 14px
        width: 14px
        .icon
            font-size: 9px
            +vcenter
            
    .icon
        font-size: 6px
        +vcenter

.follow-mark_small 
    .icon
        font-size: 5px
            


.instagram-info
    color: $grey
    display: flex
    flex-wrap: wrap
    cursor: default
    &__nickname,
    &__followers
        position: relative
        margin-right: 20px
        &:after
            content: '.'
            position: absolute
            bottom: 3px
            right: -13px
    &__nickname 
        +xs
            width: 100%
            &:after
                display: none
    &__following
        transition: color $tr
        &:hover
            color: $black
    &__followers
        transition: color $tr
        &:hover
            color: $black
