.product-page
    margin-top: 40px
    &__slider
        float: left
        width: 540px
    &__details
        float: left
        width: calc(100% - 540px)
        padding-left: 40px
    &__close
        text-align: right
    &__title
        font-size: 20px
        line-height: 1.25
        font-weight: 400
    &__price
        font-weight: 700
        font-size: 20px
    &__info
        font-size: 13px
        color: $grey
        line-height: 1.23
        margin-bottom: 24px
        margin-top: 12px
        &_bold
            font-weight: 600
            