.company-link
    font-weight: 700
    color: #aaaaaa
    padding: 11px 18px 12px
    border-radius: 20px
    &.is-active
        background-color: #e5e5e5
        color: $black

.company-page
    &__top
        display: flex
    &__logo
        flex: 0 0 120px
    &__descr
        padding-left: 40px
    &__title
        font-size: 0
        margin-bottom: 2px
        span:first-child
            display: inline-block
            vertical-align: middle
            font-size: 25px
            font-weight: 700
    &__location
        margin-bottom: 24px
        .icon
            font-size: 12px
    &__buttons
        margin-bottom: 24px
        font-size: 0
        & > * 
            margin-right: 9px
    &__row 
        display: flex
        justify-content: space-between
    &__col
        flex: 0 0 300px
        width: 300px





.follow-mark
    display: inline-block
    vertical-align: middle
    font-size: 0
    +circle(16)
    margin-left: 10px
    background-color: $blue
    color: $white
    position: relative
    .icon
        font-size: 6px
        +vcenter

.instagram-info
    color: $grey
    &__nickname,
    &__followers
        position: relative
        margin-right: 20px
        &:after
            content: '.'
            position: absolute
            bottom: 1px
            right: -10px
            
