.profile
    margin-top: 16px
    &__sidebar
        float: left
        width: 246px
        +sm 
            float: none
            width: 100%
    &__main
        float: left
        width: 468px
        +sm 
            float: none
            width: 100%

.profile-list
    &__link
        &.is-active
            color: $green

.profile-form
    margin-bottom: 60px
    fieldset
        margin-bottom: 50px
        +sm 
            margin-bottom: 24px
    &__title 
        margin-bottom: 24px
        font-size: 20px
        font-weight: 500
        line-height: 1.5
        letter-spacing: 0.02em
        +sm 
            margin-bottom: 12px
    &__group
        &:not(:last-child)
            margin-bottom: 28px
            +sm     
                margin-bottom: 16px
        &_toggler:not(:last-child)
            margin-bottom: 38px
        .input-helper-text
            max-width: 404px
        &_photo
            display: flex
            align-items: center
            flex-wrap: wrap
            margin-bottom: 31px !important
            button:not(:last-child)
                margin-right: 10px
            label
                width: 100%
                margin-bottom: 8px
    &__label
        display: block
        font-size: 15px
        line-height: 2
        color: $grey
        font-weight: 500
        letter-spacing: 0.02em
        margin-bottom: 4px
    &__photo
        display: block
        margin-right: 25px
        +circle(100)
        +cover
        +sm 
            +circle(70)
            margin-right: 15px
    &__social
        padding-top: 7px
        margin-bottom: 
        .social-action:not(:last-child)
            margin-bottom: 11px
    &__notifications
        margin-top: 34px
        .input-helper-text
            max-width: 320px
        


.social-action
    display: flex
    align-items: center
    padding: 15px
    border: 1px solid $grey
    border-radius: $radius
    &__title
        margin-left: 15px
        font-weight: 500
    &__button
        margin-left: auto

.profile-icon
    +circle(40)
    color: $white
    line-height: 40px
    font-size: 0
    display: inline-block
    vertical-align: middle
    text-align: center
    align-items: flex-start
    &_vk
        background-color: $vk
        .icon
            font-size: 10px
            line-height: 1
            vertical-align: middle
    &_fb
        background-color: $fb
        .icon
            font-size: 15px
            line-height: 1
            vertical-align: middle

.profile-list
    &__link
        font-weight: 500
        line-height: 2
        letter-spacing: 0.01em
        color: $grey
        &.is-active
            color: $black