{% import "components/_cards.html" as Cards %}

{% set productCards = [
    {
        modifier: 'js-masonry', 
        image: 'card_img_1.jpg', 
        product: 'Куртка джинсовая Wrangler', 
        price: '10 495',
        special: true
    }, 
    {
        modifier: 'js-masonry', 
        image: 'card_img_2.jpg', 
        brand: 'Champion',
        product: 'Свитшот Crewneck Sweatshirt', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry', 
        image: 'card_img_3.jpg', 
        brand: 'Mango Man',
        product: 'Рубашка - DAHM', 
        price: '2 900 '
    }, 
    {
        modifier: 'js-masonry', 
        image: 'card_img_4.jpg', 
        brand: 'Mango Man',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry', 
        image: 'card_img_5.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry', 
        image: 'card_img_6.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry', 
        image: 'card_img_7.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    },
    {
        modifier: 'js-masonry', 
        image: 'card_img_8.jpg', 
        brand: 'Mango Man ',
        product: 'Рубашка - DAHM', 
        price: '2 900'
    }
] %}
<div class="cards-wrapper">
    <div class="grid">
        <div class="gutter-sizer"></div>
        {% for item in productCards %}
            {{Cards.productCard(item)}}
        {% endfor %}
    </div>
</div>