{% macro icon(i) %}
    <svg class="icon icon-{{i}}">
        <use xlink:href="img/sprite.svg#icon-{{i}}"></use>
    </svg>
{% endmacro %}

{% macro newEl(props) %}
    <button type="button" class="new-element">
        <span class="new-element__image" style="background-image: url(./img/{{props.image}});">
            <span class="new-element__plus">
                {{ icon('plus') }}
            </span>
        </span>
        <div class="new-element__text">
            {{props.text}}
        </div>
    </button>
{% endmacro %}

{% macro checkCollection(props) %}
    <label class="check-collection {% if props.modifier %}{{props.modifier}}{% endif %}" for="{{props.id}}">
        <input type="checkbox" id="{{props.id}}">
        <span class="check-collection__image" style="background-image: url(./img/{{props.image}});">
            <span class="check-collection__check">
                {{ icon('check') }}
            </span>
        </span>
        <span class="check-collection__text">
            {{props.text}}
        </span>
        {% if props.private %}
            <span class="check-collection__private">
                {{ icon('lock') }}
            </span>
        {% endif %}
        {% if props.helperText %}
            <div class="check-collection__helper">
                {{props.helperText}}
            </div>
        {% endif %}
        <span class="check-collection__bg"></span>
    </label>
{% endmacro %}

{% macro toggler(text, radio) %}
    <label class="toggler">
        <input type="{{radio or 'checkbox'}}" name="checkbox">
        <span class="toggler__text">{{ text or 'Видно только мне' }}</span>
    </label>
{% endmacro %}

{% macro deleteBtn(props) %}
    <button class="btn-circle btn-delete {% if props.modifier %}{{props.modifier}}{% endif %}">
        {{ icon('close') }}
    </button>
{% endmacro %}

{% macro addBtn(props) %}
    <button class="btn-circle btn-add {% if props.modifier %}{{props.modifier}}{% endif %}" type="button">{{ icon('plus') }}</button>
{% endmacro %}

{% macro nextBtn(props) %}
    <button class="btn-circle btn-next {% if props.modifier %}{{props.modifier}}{% endif %}" type="button">{{ icon('arrow-right') }}</button>
{% endmacro %}

{% macro info(props) %}
    <div class="info">
        <div class="info__avatar">

            <div class="avatar" {% if props.image %} style="background-image: url(./img/{{props.image}})" {% endif %}></div>
        </div>
        <div class="info__text">
            <div class="info__main">{{props.mainText}}</div>
            <div class="info__secondary">{{props.secondaryText}}</div>
        </div>
        {% if props.button %}
            <div class="info__button">
                <button type="button" class="btn btn_small {% if props.button[0].action === 'subscr' %}btn_light{% else %}btn_blue{% endif %}">{{props.button[0].text}}</button>
            </div>
        {% endif %}
    </div>
{% endmacro %}