{% macro icon(i) %}
    <svg class="icon icon-{{i}}">
        <use xlink:href="img/sprite.svg#icon-{{i}}"></use>
    </svg>
{% endmacro %}

{% macro newEl(props) %}
    <button type="button" class="new-element">
        <span class="new-element__image" style="background-image: url(./img/{{props.image}});">
            <span class="new-element__plus">
                {{ icon('plus') }}
            </span>
        </span>
        <div class="new-element__text">
            {{props.text}}
        </div>
    </button>
{% endmacro %}

{% macro toggler(text, radio, checked, disabled, modifierClass) %}
    <label class="toggler{% if disabled %} is-disabled{% endif %}{% if modifierClass %} {{modifierClass}}{% endif %}">
        <input type="{{radio or 'checkbox'}}" name="checkbox" {% if checked %}checked='true'{% endif %}>
        <span class="toggler__text">{{ text or 'Видно только мне' }}</span>
    </label>
{% endmacro %}

{% macro deleteBtn(props) %}
    <button class="btn-circle btn-delete {% if props.modifier %}{{props.modifier}}{% endif %}" type="{{props.type or 'button'}}">
        {{ icon('close') }}
    </button>
{% endmacro %}

{% macro nextBtn(props) %}
    <button class="btn-circle btn-next {% if props.modifier %}{{props.modifier}}{% endif %}" type="button">{{ icon('arrow-right') }}</button>
{% endmacro %}

{% macro checkBtn(props) %}
    <button class="btn-circle btn-checked {% if props.modifier %}{{props.modifier}}{% endif %}" type="button">{{ icon('check') }}</button>
{% endmacro %}

{% macro prevBtn(props) %}
    <button class="btn-circle btn-prev {% if props.modifier %}{{props.modifier}}{% endif %}" type="button">{{ icon('arrow-left') }}</button>
{% endmacro %}

{% macro addBtn(props) %}
    <button class="btn-circle btn-add {% if props.modifier %}{{props.modifier}}{% endif %}" type="{{props.type or 'button'}}">{{ icon('plus') }}</button>
{% endmacro %}

{% macro menuBtn(props) %}
    <button class="btn-circle btn-menu {% if props.modifier %}{{props.modifier}}{% endif %}" type="button">{{ icon('three-dots') }}</button>
{% endmacro %}

{% macro upBtn(props) %}
    <button class="btn-circle btn-up" type="button">{{ icon('arrow-up') }}</button>
{% endmacro %}

{% macro user(props) %}
    <div class="user{% if props.modifier %} {{props.modifier}}{% endif %}{% if props.status %} {{props.status}}{% endif %}">
        <div class="user__avatar">
            <div class="avatar" {% if props.image %} style="background-image: url(./img/{{props.image}})" {% endif %}></div>
        </div>
        <div class="user__text">
            <div class="user__main">{{props.mainText | safe}}</div>
            <div class="user__secondary">{{props.secondaryText | safe}}</div>
        </div>
        {% if props.button %}
            <div class="user__button">
                <button type="button" class="btn btn_small {% if props.button[0].action === 'subscr' %}btn_light{% else %}btn_blue{% endif %}">{{props.button[0].text}}</button>
            </div>
        {% endif %}
        {% if props.menuBtn %}
            <div class="user__button">
                {{menuBtn()}}
            </div>
        {% endif %}
        {% if props.modifier === 'user_chat' %}
            <div class="user__activity">
                <div class="user__time">
                    {{props.time}}
                </div>
                {% if props.status === 'is-online' %}
                    <div class="user__active"></div>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endmacro %}

{% macro inputSearch() %}
    <input type="text" class="input input_search" placeholder="Поиск">
    <button class="input-search-icon" type="button">{{ icon('search') }}</button>
{% endmacro %}

{% macro file(props) %}
    {% if props.fileSelected %}
        <label class="file is-selected" for="add-cover">
            <span class="file__title text-muted">Превью обложки коллекции</span>
            <div class="file__preview">
                <span class="file__image" style="background-image: url(./img/{{props.prevImg}});">
                    <span class="file__delete delete-btn">
                        {{ deleteBtn() }}
                    </span>
                    <span class="file__preview-text">{{props.text | safe}}</span>
                </span>
                <span class="file__add">
                    {{addBtn()}}
                    <span class="file__another-photo text-muted">Загрузить другое фото</span>
                </span>
            </div>
            <input type="file" id="add-cover">
        </label>
    {% elif props.productAdd %}
        <label class="file file_dotted" for="add-cover">
            <span class="file__add">
                {{addBtn()}}
                <span class="file__another-photo text-muted">Загрузить фото</span>
            </span>
            <input type="file" id="add-cover">
        </label>
    {% else %}
        <label class="file" for="add-cover">
            <span class="file__add">
                {{addBtn()}}
            </span>
            <input type="file" id="add-cover">
            <span class="file__text">Добавить обложку
                <span class="text-muted">(по желанию)</span>
            </span>
        </label>
    {% endif %}
{% endmacro %}

{% macro checkCollection(props) %}
    <label class="check-collection {% if props.modifier %}{{props.modifier}}{% endif %}" for="{{props.id}}">
        <input type="checkbox" id="{{props.id}}">
        <span class="check-collection__image" style="background-image: url(./img/{{props.image}});">
            <span class="check-collection__check">
                {{ checkBtn() }}
            </span>
        </span>
        <span class="check-collection__text">
            {{props.text}}
        </span>
        {% if props.private %}
            <span class="check-collection__private">
                <span class="private-icon">{{ icon('lock') }}</span>
            </span>
        {% endif %}
        {% if props.helperText %}
            <div class="check-collection__helper">
                {{props.helperText}}
            </div>
        {% endif %}
        <span class="check-collection__bg"></span>
    </label>
{% endmacro %}