{% import "partials/_mixins.html" as mixins %}

{% macro modal_2(props) %}
    <form action="/" id="card-form">
        <div class="form-control">
            <input type="text" class="input" placeholder="Название" {% if props.inputFirstValue %} value="{{props.inputFirstValue}}" {% endif %}>
        </div>
        <div class="form-control">
            <input type="text" class="input" placeholder="Описание"/>
        </div>
        <div class="form-control">
            <select name='1' id="1" class="js-select" data-placeholder="Выберите категорию">
                <option value=""></option>
                <option value="1">Категория-1</option>
                <option value="2">Категория-2</option>
                <option value="3">Категория-3</option>
                <option value="4">Категория-4</option>
            </select>
        </div>
        <div class="form-control">
            {{mixins.file(props)}}
        </div>
        <div class="form-control">
            {{mixins.toggler(null,null,null,null, 'toggler_private')}}
        </div>

        {% if props.addMembers %}
            <div class="card-small card-small_border add-members">
                <label class="add-members__row{% if props.inputActive %} is-active{% endif %}">
                    <span class="add-members__add">
                        {{mixins.addBtn({modifier: 'btn-add_blue'})}}
                    </span>
                    <input class="add-members__input" value="{% if props.inputActive %}{% else %}Добавить участников{% endif %}" placeholder="Введите логин" {% if not props.inputActive %} readonly="readonly" {% endif %}>
                    <span class="add-members__next">
                        {{mixins.nextBtn()}}
                    </span>
                </label>
                {% if props.dd_single %}
                    <div class="dropdown dropdown_add-members is-open">
                        {{mixins.user({image: "avatar.jpg", mainText: "Ivan Klimov", secondaryText: "Автор"})}}
                    </div>
                {% endif %}
                {% if props.dd %}
                    <div class="dropdown dropdown_add-members is-open">
                        {% set subcriptions = [
                            {
                                modifier: "user_dropdown",
                                image: "avatar.jpg",
                                mainText: "Ivan Klimov",
                                secondaryText: "@sdklimov"
                            }, {
                                modifier: "user_dropdown",
                                mainText: "Валера Певнев",
                                secondaryText: "@pevnev"
                            }
                        ] %}
                        {% for item in subcriptions %}
                            {{mixins.user(item)}}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="modal__buttons">
            <button type="submit" form="card-form" class="btn btn_blue btn_big">Создать коллекцию</button>
            <button type="button" class="btn btn_link btn_big">Отмена</button>
        </div>

    </form>
{% endmacro %}