{% import "partials/_mixins.html" as mixins %}
{% import "components/_product.html" as Product %}

{% macro smallCard(props) %}
    <div class="card-small">
        {{Product.product(props)}}
    </div>
{% endmacro %}

{% macro imageCard(props) %}
    <a href="#" class="image-card" style="background-image: url(./img/cards/{{props.image}});">
        <div class="image-card__top">
            {% if props.type %}
                <div class="image-card__type">{{props.type | safe}}</div>
            {% endif %} 
            <h4 class="image-card__title{% if props.titleModifier %} {{props.titleModifier}}{% endif %}">{{props.title | safe}}</h4>
        </div>
        {% if not props.withoutAvatars %}
            <div class="image-card__author">
                <div class="image-card__avatar">
                    <div class="avatar avatar_small" {% if props.avatar %} style="background-image: url(./img/{{props.avatar}})" {% endif %}></div>
                </div>
                <div class="image-card__name">{{props.name | safe}}</div>
            </div>
        {% endif %}
    </a>
{% endmacro %}

{% macro productCard(props) %}
    <a href="#" class="card{% if props.modifier %} {{props.modifier}}{% endif %}">
        <div class="card__image">
            <img src="img/cards/{{props.image}}" alt='{{props.product}}'/>
            <div class="card__btn">
                <span role="button" class="btn btn_light-grey btn_save-card js-add-collection-btn">
                    {{mixins.icon('special-filled')}}
                    <span class="btn__text">Сохранить</span>
                </span>
            </div>
        </div>
        <div class="card__bottom">
            <div class="card__descr">
                {% if props.special %}
                    <span class="card__product_special">{{props.product | safe}}</span>
                    <span class="card__special">
                        {{mixins.icon('special')}}
                    </span>
                {% else %}
                    <span class="card__brand">{{props.brand | safe}}</span>
                    /
                    <span class="card__product">{{props.product | safe}}</span>
                {% endif %}
            </div>
            <div class="card__price">
                {{props.price | safe}}
                <span class="rouble">Ь</span>
            </div>
        </div>

    </a>
{% endmacro %}