{% import "partials/_mixins.html" as mixins %}
{% macro collection(props) %}
    <section class="collection">
        <div class="collection__images">
            <div class="collection__image collection__image_main" style="background-image: url(./img/cards/{{props.imageMain}});"></div>
            <div class="collection__image collection__image_secondary" style="background-image: url(./img/cards/{{props.imagesSecondary[0]}});"></div>
            <div class="collection__image collection__image_secondary" style="background-image: url(./img/cards/{{props.imagesSecondary[1]}});"></div>
        </div>
        <div class="collection__title">{{props.title}}</div>
        {% if props.private %}
            <div class="collection__private">
                <span class="private-icon">{{ mixins.icon('lock') }}</span>
            </div>
        {% endif %}
    </section>
{% endmacro %}