.btn
    display: inline-block
    font-family: $helv
    font-weight: 500
    font-size: 15px
    text-align: center
    background: none
    user-select: none
    vertical-align: middle
    line-height: 1.2
    color: $black
    &_blue
        background-color: $blue
        color: $white
        transition: background-color 0.4s
        &:hover
            background-color: $blueHovered
        &:active
            background-color: $blueClicked
    &_light
        background-color: $light-button-bg
        color: $blue
    &_grey
        background-color: $light-bg
        color: $black
        transition: background-color 0.4s
        &:hover
            background-color: $light-bgHovered
        &:active
            background-color: $light-bgClicked
    &_dark-grey
        background-color: $mainGrey
    &_light-grey
        background-color: $light-bg
        color: $grey
    &_green
        background-color: $green
    &_white
        background-color: $white
    &_big
        width: 230px
        padding: 16px 16px 15px
        border-radius: 25px
        line-height: 1.3
    &_square
        border-radius: $radius
        padding: 11px 14px 
        width: 177px
        +sm 
            width: 100%
    &_small
        font-size: 14px
        padding: 10px 21px 9px
        border-radius: 18px
        // +sm 
        //     padding: 10px 10px 9px
    &_middle
        border-radius: 20px
        font-size: 15px
        padding: 11px 20px 
    &_middle-wide
        border-radius: 20px
        font-size: 15px
        padding: 11px 30px 
    &_link
        color: $grey
    &_small-link
        font-size: 13px
        padding: 12px 14px 13px 14px
    &_check-main
        padding: 9px 20px 9px
        background: $white
        border-radius: 18px
        line-height: 35px
    &_upper
        text-transform: uppercase
    &_text-wide
        letter-spacing: 0.03em
    &_text
        font-size: 15px
        vertical-align: top
        margin-left: 7px
    &_collection-add
        font-size: 0
        .icon
            font-size: 17px
            line-height: 1
    &_text-white
        color: $white

.btn-watch
    .icon 
        font-size: 12px
        margin-left: 1px

.btn-user
    +cover


// =========== CIRCLE ==============

.btn-circle
    display: inline-block
    +circle(36)
    line-height: 36px
    font-size: 0
    text-align: center
    vertical-align: middle
    &_big
        +circle(40)
        line-height: 40px
    .icon
        font-size: 16px
        vertical-align: middle
        display: inline-block
        line-height: 1
        
        
.btn-delete
    background-color: $white
    &_dark
        background-color: $light-bg
    .icon
        font-size: 12px
        color: $grey
 
.btn-to-top
    background-color: rgba($black, 0.3)
    .icon
        font-size: 8px
        color: $white

.btn-checked
    background-color: $white
    color: $blue
    &_inverted
        background-color: $blue
        color: $white
.btn-add, 
.btn-prev,
.btn-menu,
.btn-share
    background-color: $light-bg
    color: $grey

.btn-add
    &_blue
        height: 40px
        width: 40px
        background-color: $blue
        color: $white
    &_dark
        color: $white
        background-color: #d8d8d8

.btn-next,
.btn-up
    color: $blue
    background-color: $light-blue
    .is-active &
        color: $white
        background-color: $blue

.btn-menu
    .icon
        font-size: 4px

.btn-share
    .icon
        font-size: 15px
        margin-bottom: 2px

.btn-slider
    +circle(40)
    font-size: 0
    text-align: center
    vertical-align: middle
    background-color: rgba($black, 0.3)
    color: $white
    z-index: 50
    &:hover
        background-color: rgba($black, 0.7)
    .icon 
        font-size: 20px
        vertical-align: middle

// =============== SOCIAL ===============

.btn-social
    width: 290px
    font-family: $helv
    font-size: 15px
    border-radius: 25px
    padding: 16px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    +sm 
        width: 250px
    .icon, 
    img 
        margin-right: 12px

.btn-fb
    background-color: $fb
    color: $white
    .icon
        font-size: 20px
.btn-vk
    background-color: $vk
    color: $white
    .icon
        font-size: 12px

.btn-google
    background-color: transparent
    border: 1px solid $extra-light-grey

// ================ SOCIAL-CIRCLE ===================

.btn-social-rounded
    +circle(50)
    color: $white
    font-size: 0
    display: inline-block
    vertical-align: middle
    &.btn-vk
        .icon
            font-size: 14px
    &.btn-twitter
        background-color: $twitter
        .icon
            font-size: 17px
    &.btn-pinterest
        background-color: $pinterest
        .icon
            font-size: 26px
    &.btn-messanger
        background-color: $messanger
        .icon
            font-size: 24px

.btn-copy-ref
    width: 100%
    height: 40px
    font-size: 15px
    border-radius: 20px
    background-color: transparent
    border: 1px solid $extra-light-grey
    font-weight: 500
    letter-spacing: 0.02em
    word-spacing: -0.04em
