.card-small
    padding: 15px
    border-radius: $radiusBig
    background-color: $white

.card-outline
    border: 1px solid $extra-light-grey
    border-radius: $radius
    text-align: left
    &_people
        border-radius: $radiusBig
    &__header
        line-height: 1.25
        padding: 10px 15px
        border-bottom: 1px solid $extra-light-grey
    &__body
        padding: 15px
    &__body-wide
        padding: 20px
        .card-outline_people &
            padding-top: 17px

.image-card
    display: block
    width: 300px 
    height: 350px
    padding: 25px 20px 20px
    +cover
    border-radius: $radiusBig
    position: relative
    color: $white
    display: flex
    flex-flow: column
    justify-content: space-between
    &:after
        content: ''
        +coverdiv
        background-color: rgba(black, 0.2)
        z-index: 1
        border-radius: $radiusBig
        transition: background-color 0.4s
    &:hover
        &:after
            background-color: rgba(black, 0.15)
    // +md 
    //     height: 310px
    //     padding-bottom: 15px
    +sm 
        padding: 20px 15px 15px
    +r(900)
        width: 266px
        height: 314px
    +r(500) 
        height: 256px
        width: 219px
    &__top
        position: relative
        z-index: 2
    &__type
        font-size: 15px
        font-weight: 500
        margin-bottom: 4px
        opacity: 0.8
        +md 
            font-size: 13px
        +xs 
            font-size: 11px
    &__title
        font-size: 25px
        font-weight: 500
        line-height: 1.2
        letter-spacing: 0.02em
        +md 
            font-size: 22px
        +xs 
            font-size: 18px
        &_single
            margin-top: -7px
    &__author
        font-size: 0
        position: relative
        z-index: 2
    &__avatar
        display: inline-block
        vertical-align: middle
        .avatar
            +md 
                +circle(30)
            +xs
                +circle(26)
    &__name
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        font-size: 15px
        font-weight: 500
        +md 
            font-size: 13px
        +xs
            font-size: 11px

.card
    display: block
    width: 222px
    margin-bottom: 26px
    text-align: left
    +sm 
        margin-bottom: 20px
    +xs
        width: 145px
    &__image
        max-width: 100%
        display: block
        border-radius: $radiusBig
        margin-bottom: 8px
        +xs
            margin-bottom: 10px
    &__descr
        position: relative
        font-size: 13px
        line-height: 1
        color: $mainGrey
        font-weight: 500
        margin-bottom: 2px
        width: 100%
        padding-right: 20px
        +xs
            font-size: 10px
            line-height: 1.2
            padding-right: 20px
    &__product_special
        color: $black
    &__price
        font-weight: 500
        +xs     
            font-size: 11px
    &__special
        position: absolute
        right: 0
        top: 0
        +xs 
            display: none
        .icon
            color: $blue
            font-size: 16px
    .rouble
        font-weight: 500
        font-size: 14px
        +xs
            font-size: 10px

// ===== MASONRY =====

.cards-wrapper
    text-align: center

.gutter-sizer
    width: 24px
    +sm
        width: 20px
    +xs
        width: 10px

.grid
    margin: 0 auto
    display: inline-block
    width: 960px
    +md
        width: 714px
    +sm 
        width: 464px
    +xs
        width: 300px


