.card-small
    padding: 15px
    border-radius: $radiusBig
    background-color: $white

.card-outline
    border: 1px solid $extra-light-grey
    border-radius: $radius
    text-align: left
    &__header
        line-height: 1.25
        padding: 10px 15px
        border-bottom: 1px solid $extra-light-grey
    &__body
        padding: 15px

.image-card
    display: block
    width: 300px
    height: 350px
    padding: 25px 20px 20px
    +cover
    border-radius: $radiusBig
    position: relative
    color: $white
    display: flex
    flex-flow: column
    justify-content: space-between
    &__type
        font-size: 15px
        font-weight: 500
        margin-bottom: 4px
    &__title
        font-size: 25px
        font-weight: 500
        line-height: 1.2
        letter-spacing: 0.02em
        &_single
            margin-top: -7px
    &__author
        font-size: 0
    &__avatar
        display: inline-block
        vertical-align: middle
    &__name
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        font-size: 15px
        font-weight: 500

.card
    display: block
    width: 222px
    margin-bottom: 28px
    text-align: left
    &_full-width
        width: 100%
    &_add
        .card__image
            height: 200px
            background-color: $light-bg
            position: relative
        .btn-add
            +vcenter
    +sm 
        margin-bottom: 20px
    +xs
        width: 145px
    &__image
        max-width: 100%
        display: block
        border-radius: $radiusBig
        margin-bottom: 8px
    &__descr
        position: relative
        font-size: 13px
        line-height: 1
        color: $grey
        font-weight: 500
        margin-bottom: 2px
        // max-width: 212px
    &__product_special
        color: $black
    &__price
        font-weight: 500
    &__special
        position: absolute
        right: 0
        top: 0
        .icon
            color: $blue
            font-size: 16px
    .rouble
        font-weight: 500
        font-size: 14px

// ===== MASONRY =====

.cards-wrapper
    text-align: center

.gutter-sizer
    width: 24px
    +sm
        width: 20px
    +xs
        width: 10px

.grid
    margin: 0 auto
    display: inline-block
    width: 960px
    +md
        width: 714px
    +sm 
        width: 464px
    +xs
        width: 300px


