.card-small
    padding: 15px
    border-radius: 8px
    background-color: $white

.card-outline
    border: 1px solid $extra-light-grey
    border-radius: $radius
    text-align: left
    &__header
        line-height: 1.25
        padding: 10px 15px
        border-bottom: 1px solid $extra-light-grey
    &__body
        padding: 15px

.image-card
    width: 300px
    padding-bottom: 350px
    +cover
    display: inline-block
    margin: 15px
    border-radius: 15px