.modal__checkout
    border-radius: 0
    width: 600px
    
.form-group
    display: flex
    justify-content: space-between
    margin: 0 0 24px
    padding: 0
    flex-wrap: wrap
    &__title
        flex: 0 0 100%
        text-align: left
        margin-bottom: 10px
    &__left
        display: flex
        flex: calc(100% - 177px)
        padding-right: 15px
        .btn
            margin-left: 15px
            flex: 0 0 177px
    &__right
        width: 177px
        flex: 0 0 177px
    &__helper
        flex: 0 0 100%
        text-align: left
        font-size: 13px
        font-weight: 500
        max-width: 250px
        margin-top: 8px

    
