.collection
    display: block
    position: relative
    width: 300px
    text-align: left
    &__images
        display: flex
        flex-direction: column
        flex-wrap: wrap
        max-height: 200px
        margin-bottom: 8px
    &__image
        +cover
        border-radius: $radiusBig
        background-color: $light-bg
        &_main
            width: 195px
            padding-bottom: 200px
            margin-right: 5px
        &_secondary
            padding-bottom: 97px
            width: 100px
            &:last-of-type
                margin-top: 6px
    &__title
        font-weight: 600
        line-height: 1.1
        margin-top: 7px
        margin-bottom: 4px
    &__private
        font-size: 0
        position: absolute
        bottom: -2px
        right: 0
    &__subtitle
        font-size: 13px
        color: $mainGrey
        line-height: 1
