.slider
    +invis
    &__slide
        width: 700px !important
        padding-bottom: 350px
        background-color: $green
        +cover
        border-radius: 8px


.slick-slide
    margin: 0 12px

.slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
.btn-slider
    z-index: 100
    &_prev
        left: calc(50% - 480px)
    &_next
        right: calc(50% - 480px)