.slider
    +sm 
        margin-left: 10px
    +invis
    &__slide
        width: 700px !important
        padding-bottom: 350px
        background-color: $light-bg
        +cover
        border-radius: $radiusBig
        +md 
            width: 653px !important
            padding-bottom: 326px
        +sm 
            width: 285px !important
    .slick-slide
        margin: 0 12px
        +sm 
            margin: 0 5px
    .btn-slider
        &_prev
            left: calc(50% - 480px)
        &_next
            right: calc(50% - 480px)

.slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)


.slider-single
    overflow: hidden
    +sm 
        overflow: visible
    &__slide
        padding-bottom: 630px
        +cover
        border-radius: $radiusBig
        +md 
            padding-bottom: 374px   
        +sm 
            width: 270px
            padding-bottom: 310px
    .slick-slide
        +sm
            margin: 0 6px
    .btn-single-slider
        &_prev
            left: 20px
            transition: visibility 0.1s
            &.is-hidden
                visibility: hidden
        &_next
            right: 20px
            transition: visibility 0.1s
            &.is-hidden
                visibility: hidden
               